.footer {
  background-color: #333;
  color: #fff;
  min-height: 20vh;
}

.copyrights {
  color: gray;
  font-size: 12px;
}

.tou {
  color: slategray;
}

.tou a:hover {
  color: lightskyblue;
  cursor: pointer;
}

.fab:hover {
  cursor: pointer;
  color: lightskyblue;
}