<div *ngIf="!isGenerated" fxLayout="column" fxLayoutAlign="center center">
  <p style="text-align: center; margin-bottom: 40px;">Input your desired settings and let us take care of the rest!</p>
  <div>
    <form [formGroup]="ticketGenerationForm" (ngSubmit)="generateTicket()">
      <mat-card fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" style="background-color: #f0f0f0;">
        <mat-card-header>
          <mat-card-title>Ticket Generation Form</mat-card-title>
        </mat-card-header>
        <mat-card-content style="width: 300px;">
          <div fxLayout="column" fxLayoutGap="40px">
            <div>
              <mat-form-field style="width: 100%;">
                <mat-label>Number of boxes</mat-label>
                <input formControlName="numberOfBoxes" matInput type="number" placeholder="Enter a number">
                <mat-error *ngIf="ticketGenerationForm.get('numberOfBoxes')?.hasError('required')">
                  Number of boxes is required.
                </mat-error>
                <mat-error *ngIf="ticketGenerationForm.get('numberOfBoxes')?.hasError('invalidRange')">
                  Number of boxes must be between {{ numberOfBoxesMinValue }} and {{ numberOfBoxesMaxValue }}.
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox formControlName="withSuperzahl">Include Superzahl</mat-checkbox>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions fxLayout="column">
          <button
          type="submit"
          mat-flat-button
          color="accent"
          [disabled]="!ticketGenerationForm.valid">GENERATE TICKET</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<div *ngIf="isGenerated" fxLayout="column" fxLayoutAlign="center center">
  <p style="text-align: center; margin-bottom: 40px;">If you're happy with the results, go ahead and save the ticket! Otherwise, you can always generate a new one :D</p>
  <mat-card style="background-color: #f0f0f0;">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>The Generated Ticket</mat-card-title>
    </mat-card-header>
    <div style="margin: 20px 0;"></div>
    <mat-card-content>
      <div class="row" style="height: auto; display: flex; align-items: center; justify-content: center;">
        <div class="col-2" *ngFor="let box of boxes;" style="display: flex; align-items: center; justify-content: center; width: auto; height: auto;">
          <div class="box">
            <div class="grid-container">
              <div class="grid-row" *ngFor="let row of box.getValuesCopy().slice(0, 7); let rowIndex = index">
                <div class="grid-cell" *ngFor="let col of box.getValuesCopy().slice(rowIndex * 7, (rowIndex + 1) * 7); let colIndex = index"
                [ngClass]="{'selected': box.getSelectedValuesCopy().includes(col)}">
                  {{ col }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="ticket && ticket.getSuperzahl() !== null && ticket.getSuperzahl() !== undefined">
        <div style="margin: 20px 0;"></div>
        <div class="superzahl">
          <div>
            <p>Superzahl</p>
            <p><span class="superzahl-number"><strong>{{ ticket.getSuperzahl() }}</strong></span></p>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
    <div style="margin: 20px 0;"></div>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button (click)="generateAnotherTicket()" mat-flat-button color="warn">GENERATE ANOTHER TICKET</button>
      <button (click)="saveTicket()" mat-flat-button color="primary">SAVE TICKET</button>
    </mat-card-actions>
  </mat-card>
</div>